<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=100, initial-scale=1.0">
  <title>Invoice 1</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
  <div class="page">
    <div class="border">
      <div class="container">
        <span class="invoice-header">
          Invoice
          <div class="sub-Iheader">
            Invoice no:-</br>
            Date:- 
          </div>
        </span>
        <img src="logo.png" alt="logo" width="100px" height="100px" class="invoice-logo">
      </div>
    </div>
    <div class="border">
      <div class="container">
        <div class="invoice-to-header">
          Invoiced To :
          <div class="invoice-to">
            ABC Customer</br>
            <!-- Customer Phone-No: 1234567890</br> -->
            Abc Main street 102, <br>
            near main street<br>
            Manhathhan
          </div>
        </div>
        <div class="pay-to-header">
          Pay To :
          <div class="pay-to">
            ABC Shop </br>
            Abc, manhathhan main</br>
            street nearest<br>
            Manhathhan 
          </div>
        </div>
      </div>
      <div class="table-height">
        <table class="product-table ">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Description</th>
              <th>Price</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ellipsis">1</td>
              <td class="ellipsis">Prod 1</td>
              <td class="ellipsis">$10</td>
              <td class="ellipsis">piece</td>
              <td class="ellipsis">1</td>
              <td class="ellipsis">$10</td>
            </tr>
            <!-- <tr>
              <td>1</td>
              <td>Prod 1</td>
              <td>$10</td>
              <td>piece</td>
              <td>1</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Prod 1</td>
              <td>$10</td>
              <td>piece</td>
              <td>1</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Prod 1</td>
              <td>$10</td>
              <td>piece</td>
              <td>1</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Prod 1</td>
              <td>$10</td>
              <td>piece</td>
              <td>1</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Prod 1</td>
              <td>$10</td>
              <td>piece</td>
              <td>1</td>
              <td>$10</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="table-footertext">
        <p><strong> Subtotal:-</strong> 1200</p>
        <!-- <hr> -->
        <p><strong>Taxes:-</strong>500 </p>
        <!-- <hr> -->
        <p><strong>Total:-</strong>1700</p>
      </div>
      <div class="payment">
        <div class="payment-info-header">
          Payment Information:
          <div class="payment-info-text">
            Bank Name - XXXX BANK,<br />
            Account Number - XYZ23456789QWERTYUIOPAS
          </div>
        </div>
      </div>
    </div>
      <div class="footer">
        Thank you!
      </div>
</body>
</html>